<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Front end question bank</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <link href="css/index.css" rel="stylesheet"/>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
    <body>
        <div id="container" class="container">
            <ul>
                <li v-for="todo in todos">
                    <a :href="todo.url">{{ todo.text }}</a>
                </li>
            </ul>
            <ul>
                <li v-for="vue in vues">
                    <a :href="vue.url">{{ vue.text }}</a>
                </li>
            </ul>
        </div>
    </body>
    <script type='text/javascript'>
        new Vue({
          el: '#container',
          data: {
            todos: [
              { url:'https://segmentfault.com/a/1190000009592068', text: ' WEB前端面试题汇总（JS）' },
              { url:'https://segmentfault.com/a/1190000011038090', text: ' 你不能错过的前端面试题合集 ' },
              { url:'http://www.codeceo.com/article/web-interview-collection.html', text: ' Web前端面试题目及答案汇总 ' },
              { url:'http://www.cnblogs.com/qianduantuanzhang/p/7789059.html', text: ' 2017最新前端面试题 ' },
              { url:'http://www.cnblogs.com/qianduantuanzhang/p/7789059.html', text: ' 2017最新前端面试题 ' },
              { url:'https://zhuanlan.zhihu.com/p/21417465', text: ' 唯快不破：Web应用的13个优化步骤 ' }
            ],
            vues: [
                { url:'https://segmentfault.com/a/1190000006776243?utm_source=tuicool&utm_medium=referral', text: ' 一个简单的 vue.js 实践教程 ' }
            ]
          }
        })
    </script>
</html>